{% load static %}
{% load core_tags %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Keep It Simple Stupid</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="{% static 'img/favicon.png' %}">
        <link rel="stylesheet" href="{% static 'css/site.css' %}">
        
        <!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
        
    </head>
<body>
    {% include 'site/header.html' %}
    {% block content %}{% endblock %}
    {% include 'site/footer.html' %}
    <script src="{% static 'js/site.js' %}"></script>
</body>
</html>